<div class="row">
  <div id="course">
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    fetch('/courses/<%=params[:id]%>.json')
    .then(response => response.json())
    .then(json => showCourse(json));
  })
</script>
